<app-progress-chain [stepNames]="stepNames" [selectedChainMember]="formProgressState"></app-progress-chain>
<form class="questions-form" [formGroup]="questionsForm" (ngSubmit)="submitForm()">
  <div [ngSwitch]="formProgressState">
    <div *ngSwitchCase="getFormProgressStates().AGE">
      <h3>How old are you?</h3>
      <hr/>
      <div class="questions-padding" *ngFor="let ageRange of ageRanges">
        <label class="radio-box">
          <input type="radio" [value]="ageRange" formControlName="ageRangeControl"/>
          <span>{{ageRange}}</span>
        </label>
      </div>
    </div>

    <div *ngSwitchCase="getFormProgressStates().STUDYING">
      <h3>Are you currently studying?</h3>
      <hr/>
      <div class="questions-padding" *ngFor="let studyingStatus of studyingStatuses">
        <label class="radio-box">
          <input type="radio" [value]="studyingStatus" formControlName="isStudyingControl"/>
          {{studyingStatus === true ? 'Yes': 'No'}}
        </label>
      </div>
    </div>

    <div *ngSwitchCase="getFormProgressStates().INCOME">
      <h3>What's your income range?</h3>
      <hr/>
      <div class="questions-padding" *ngFor="let incomeRange of incomeRanges">
        <label class="radio-box">
          <input type="radio" [value]="incomeRange" formControlName="incomeRangeControl"/>
          {{incomeRange}}
        </label>
      </div>
    </div>
  </div>
  <div *ngIf="!isCurrentStepValid() && canShowErrorMessage" style="color:red; font-size: 30px; text-align: center">Please select an option</div>
  <hr/>
  <app-buttons [isLastState]="isLastState()"
               [isCurrentStepValid]="isCurrentStepValid()"
               [canMoveToPreviousState]="canMoveToPreviousState()"
               (moveToPreviousStateEvent)="moveToPreviousState()"
               (moveToNextStateEvent)="moveToNextState()">
  </app-buttons>
</form>
