.questions-form {
  margin: 50px 100px;
  background-color: #f2f2f2;

  border: 5mm ridge rgba(51, 41, 59, .3);
  box-shadow: 0 0 0 10px rgba(192,192,192, .2);

  h3 {
      text-align: center;
  }
}

.questions-padding {
  padding: 10px 10px 20px 10px;
}

button {
  margin: 20px 0;
  padding: 20px 0;
}

.red-background:hover {
  background-color: red;
}
