@import "functions.scss";

@mixin style-button($style-name-suffix, $font-weight, $text-color, $background-color, $font-size) {
  button.button-#{$style-name-suffix} {
    cursor: pointer;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $text-color;
    background-color: $background-color;

    &:hover {
      background-color: darken($background-color, 5);
    }

  }
}

